<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ student.first_name }} {{ student.last_name }} info</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
          <img src="/img/remove.png" alt="">
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <img ng-src="{{ student.photo }}" alt="{{ student.first_name }}">
      <div class="md-dialog-content">
        <h2>Name : {{ student.first_name }} {{ student.last_name }}</h2>
        <h2>email : {{ student.email }}</h2>
        <h2>Phone Number : {{ student.phone_number }}</h2>
        <h2>Date of birth : {{ student.date_of_birth }}</h2>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        Contact
      </md-button>
      <span flex></span>
      <md-button ng-click="sendStudentId(student.id)" ng-show="!pendingFriendRequest && !isFriend">
       Add
      </md-button>
      <md-button ng-show="pendingFriendRequest && !isFriend">
       Pending Friend Request
      </md-button>
      <md-button ng-show="isFriend">
       Friend
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>