<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ teacher.first_name }} {{ teacher.last_name }} info</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <img ng-src="{{ teacher.photo }}" alt="{{ teacher.first_name }}">
      <div class="md-dialog-content">
        <h2>Name : {{ teacher.first_name }} {{ teacher.last_name }}</h2>
        <h2>email : {{ teacher.email }}</h2>
        <h2>Phone Number : {{ teacher.phone_number }}</h2>
        <h2>Date of birth : {{ teacher.date_of_birth }}</h2>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="/student/teacher/{{teacher.id}}" target="_blank" md-autofocus>
        Show Profile
      </md-button>
      <span flex></span>
      <md-button ng-click="sendTeacherId(teacher.id)" ng-show="!pendingFriendRequest && !isFriend">
       Add
      </md-button>
      <md-button ng-show="pendingFriendRequest && !isFriend">
       Pending Friend Request
      </md-button>
      <md-button ng-show="isFriend">
       Friend
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>